@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap');

$montserrat: 'Montserrat', sans-serif;
$raleway: 'Raleway', sans-serif;

#Bio {
  display: flex;
  flex-direction: row;
  a {
    color: #f7683A;
    font-weight: bold;
  }
  h1 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-family: $montserrat;
  }
  }
  #frame {
    text-align: justify;
    border: 2px solid white;
    border-radius: 10px;
    padding: 3rem;
    margin: 3rem;
    background-color: rgba(255, 255, 255, 0.5);
    p {
      font-size: 1.5rem;
      font-weight: 400;
      font-family: $raleway;
    }
  }
