@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap');

$montserrat: 'Montserrat', sans-serif;
$raleway: 'Raleway', sans-serif;

footer {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding-top: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: 3rem;
  font-weight: 600;
  a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-family: $raleway;
  }
  a:hover {
    color: #00A0C6;
    cursor: pointer;
    text-decoration: none;
  }
  #power {
    padding-top: 0;
    height: 2rem;
    margin-bottom: 1rem;
  }
}
