@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap');

$montserrat: 'Montserrat', sans-serif;
$raleway: 'Raleway', sans-serif;

h1 {
    font-family: $montserrat;
} 

a {
    font-family: $raleway;
}