@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap');

$montserrat: 'Montserrat', sans-serif;
$raleway: 'Raleway', sans-serif;

#Tech {
    text-align: center;
    font-family: $montserrat;
    .iconography {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 2rem;
        margin-bottom: 2rem;
        background-color: rgba(255,255,255,.5);
        h3 {
            font-size: 4rem;
        }
    }
}
