@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

body {
  background-color: rgb(126, 28, 133);
}

#app {
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 50px;
  width: 90%;
}

.hide {
  display: none;
}

#logoPng {
  width: 185px;
  height: 80px;
}
