@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import './components';

.dark-mode {
  background-color: black;
  color: lightgray;
  #proj-card {
    background-color: grey;
  }
}

.jumbotron {
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  .page-links {
    display: flex;
    justify-content: center;
    a {
      color: black;
    }
    a:hover {
      color: #00a0c6;
      cursor: pointer;
    }
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
}

#app {
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 50px;
  width: 90%;
}

.hide {
  display: none;
}
