@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import './components';

a.nav-link {
  font-size: 1.2rem;
  margin-right: 3rem;
}

body {
  background-color: #777;
}

#app {
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 50px;
  width: 90%;
}

.hide {
  display: none;
}

#Projects {
  display: flex;
  justify-content: space-evenly;
    .card {
      margin: 1rem;
    }
}

#logoPng {
  width: 185px;
  height: 80px;
}

#btn-area {
  display: flex;
  justify-content: space-evenly;
  margin: 2px;
}